@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap");

.wrapper {
	width: 1315px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;

	&__logo {
		margin-right: 200px; /* 274 */
	}
	/* стилизация всех навигационных элементов */
	ul {
		$carModels: ".car-models";
		$otherNavs: ".other-navs";
		display: flex;

		li {
			font-family: Montserrat;
			font-weight: 700;

			a {
				text-decoration: none;
				color: black;
			}
		}
		/* !!! */
		#{ $carModels }__model-x {
			margin-left: 64px;
		}
		#{ $carModels }__model-3 {
			margin-left: 26px;
		}

		#{ $carModels }__roadster {
			margin-left: 46px;
		}
		#{ $carModels }__energy {
			margin-left: 48px;
		}
		/* !!! */
		#{ $otherNavs }__shop {
			margin-left: 200px; /* 220 */
		}

		#{ $otherNavs }__sign-in {
			margin-left: 32px;
		}

		#{ $otherNavs }__burger {
			margin-left: 29px;
		}
	}
}
