@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap");

body {
	font-family: Montserrat;
	background: white;
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	max-width: 1315px;
	height: 100vh;

	margin: 0 auto;

	.car-present {
		&__title {
			$self: ".title";
			display: flex;
			flex-direction: column;
			align-items: center;
			// margin-bottom: 0;

			#{ $self }__main-title {
				// font-size: 90px;
				font-size: 70px;
				font-weight: 600;
			}

			#{ $self }__subtitle {
				font-size: 15px;
				font-weight: 500;
			}
		}
		&__image-wrapper {
			width: 1315px;
			// height: 450px;
			height: 375px;
			background-image: url("../img/tesla-background.png"), url("../img/Tesla-Wordmark-Red.jpg");
			background-repeat: no-repeat;
			background-position: center, 100px -110px; /* 0 145*/
			background-size: 765px 350px, 85%;
		}

		&__characteristics {
			$self: ".characteristics";
			ul {
				display: flex;
				justify-content: center;
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 40px; //80

					.info__big {
						font-size: 35px;
						font-weight: 600;

						span {
							font-size: 20px;
							font-weight: 400;
						}
					}
					.info__small {
						font-size: 12px;
					}

					a {
						font-size: 13px;
						font-weight: 700;
						text-decoration: none;
						text-transform: uppercase;
						color: black;
					}

					div:first-child {
						margin-right: 10px;
					}
				}

				button {
					width: 120px; // 159
					height: 39px;
					border: 2px solid #e51937;
					background: white;
					cursor: pointer;

					a {
						color: #e51937;
					}
				}
			}
		}

		&__arrow {
			height: 20px;
			margin-top: 20px;
			background-image: url("../img/Vector.svg");
			background-repeat: no-repeat;
			background-position: center;

			cursor: pointer;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	height: 51px;

	&__logo {
		margin-right: 200px; /* 274 */
	}
	/* стилизация всех навигационных элементов */
	ul {
		$carModels: ".car-models";
		$otherNavs: ".other-navs";
		display: flex;

		li {
			font-weight: 600;

			a {
				text-decoration: none;
				color: black;
				transition: border 0.2s linear;

				&:hover {
					border-bottom: 2px solid black;
				}
			}
		}
		/* !!! */
		#{ $carModels }__model-s a {
			color: #e51937;
			border-bottom: 2px solid #e51937;
		}
		#{ $carModels }__model-x {
			margin-left: 64px;
		}
		#{ $carModels }__model-3 {
			margin-left: 26px;
		}

		#{ $carModels }__roadster {
			margin-left: 46px;
		}
		#{ $carModels }__energy {
			margin-left: 48px;
		}
		/* !!! */
		#{ $otherNavs }__shop {
			margin-left: 200px; /* 220 */
		}

		#{ $otherNavs }__sign-in {
			margin-left: 32px;
		}

		#{ $otherNavs }__burger {
			margin-left: 29px;
		}
	}
}

.future-driving {
	display: flex;
	justify-content: space-between;
	border: 1px solid #e51937;

	width: 100%;
	height: 100vh;

	margin: 0 auto;

	&__bg {
		background-image: url("../img/tesla-saloon.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 55px;
		width: 100%;
	}

	&__title {
		margin: 64px 80px;

		font-size: 60px;
		font-weight: 700;
		color: #e51937;
	}

	&__info {
		$self: ".info";

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 40%;

		background-color: #e51937;
		color: white;

		padding: 56px 52px;

		#{ $self }__title {
			font-size: 25px;
			font-weight: 600;
		}

		#{ $self }__text {
			font-size: 15px;
		}

		.characteristics {
			ul li {
				display: flex;

				margin-top: 30px;
				.info {
					margin-left: 15px;
					.info__big {
						font-size: 30px;
						span {
							font-size: 15px;
						}
					}
				}

				.info__small {
					font-size: 12px;
				}
			}

			.characteristics__wifi {
				position: relative;
				top: 0;
				left: -5px;
			}
		}
		.characteristics__end {
			display: flex;
			align-items: center;
			.end__learn-more {
				margin-left: 10px;
				margin-right: 30px;

				text-transform: uppercase;
				text-decoration: none;

				color: white;
				font-size: 13px;
				font-weight: 700;
			}
			button {
				width: 120px; // 159
				height: 39px;
				border: 2px solid white;
				background: #e51937;
				cursor: pointer;

				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}

.security {
	width: 100%;
	height: 100vh;
	display: flex;
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 30%;
		background: #e51937;
		height: 100vh;
		color: white;
		padding: 10px 52px;
		.info__title {
			.info__main-title {
				font-size: 30px;
				font-weight: 600;

				text-align: center;
				margin-bottom: 15px;
			}

			.info__sub-title {
				font-size: 15px;
				font-weight: 500;
				text-align: left;
			}
		}
	}

	&__mark {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.mark__title {
			font-size: 30px;
			text-align: center;
		}
		ul {
			display: flex;
			flex-direction: column;

			margin-top: 25px;
			li {
				display: flex;
				justify-content: space-between;
				text-transform: uppercase;
			}
		}
		.mark__mark {
			display: flex;
			justify-content: center;
			align-items: center;

			margin-top: 30px;

			.mark__verdict {
				margin-left: 15px;
			}
		}

		.mark__order {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			.end__learn-more {
				margin-left: 10px;
				margin-right: 30px;

				text-transform: uppercase;
				text-decoration: none;

				color: white;
				font-size: 13px;
				font-weight: 700;
			}
			button {
				width: 120px; // 159
				height: 39px;
				border: 2px solid white;
				background: #e51937;
				cursor: pointer;

				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	&__bg {
		height: 100vh;
		width: 70%;
		background: url("../img/Model_S.png"), url("../img/Car-scelet.jpg");
		background-repeat: no-repeat;
		background-size: auto, 895px 500px;
		background-position: 80px 70px, -100px 100px;
	}
}
